!!! xml
rss(version="2.0")
	channel
		title #{blogName}
		link https://#{domain}
		description #{blogDescription}
		lastBuildDate #{pubDate}
		generator TooSolo 2.0
		- for blog in blogList
			item
				title #{blog.title}
				link https://#{domain}/article/#{blog.url}.html
				guid(isPermaLink="true") https://#{domain}/article/#{blog.url}.html
				pubDate #{blog.pubDate}
				- for tag in blog.tags
					category #{tag}
				description
					| <![CDATA[
					| !{blog.content}
					| ]]>
