header
	div#logo
		a(href="#{basePath}/index.html") #{blogName}
		span.subTitle #{blogSubTitle}
	nav
		ul
			li
				a(href="#{basePath}/index.html") Index<br />首页
			li
				a(href="#{basePath}/page/about.html") About<br />关于